<!DOCTYPE html>
<html lang="en">
<head>
<title>Login</title>
<% include ../_helpers/html_header %>
</head>
<body>
	<div class="container">
		<h2>Login</h2>
		<p/>	
		<form method="POST">
			<div class="form-group">
				<label for="username">Username:</label> 
				<input type="text" class="form-control" id="username" name="username">
			</div>
			<div class="form-group">
				<label for="password">Password:</label> 
				<input type="password" class="form-control" id="password" name="password">
			</div>
		</form>
		<button class="btn btn-success" id="btn1">Login</button>
		&nbsp;
		<button class="btn btn-success" id="btn2">회원가입</button>
	</div>

<script>
$( function() {
	//enter 처리
	$("#password").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#btn1").click();
		}
	});
	
	//Login
	$("#btn1").off().on( "click", () => {
		document.forms[0].Action = "/login";
		document.forms[0].submit();
	});
	
	//회원가입
	$("#btn2").off().on( "click", () => { 
		location.href = "/signup";
	});
});
</script>
</body>
</html>
